* {
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar{
    background-color: #f5eefc;
}

.navbar-nav, .nav-link.active{
color: #0dcaf0 !important;
font-size: 18px!important;
}

/* =Jumbotron Main
-------------------------------------------------------------- */
.jumbotron.jumbotron-main {
    height: 300px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    margin: 0;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background: #6819e8;
    /* Old browsers */
    background: -moz-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6819e8', endColorstr='#6980f2', GradientType=1);
    /* IE6-9 */
}

.jumbotron.jumbotron-main hr {
    border-width: 1px 0px;
    border-style: dotted none;
    border-color: rgba(255, 255, 255, 0.35);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    width: 49px;
    height: 4px;
    text-align: center;
    position: relative;
    clear: both;
}

.jumbotron.jumbotron-main a {
    color: #fff;
}

.center-vertically {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.center-vertically-holder {
    display: table;
    height: 100%;
}

.scroll-indicator {
    padding-top: 6px;
    display: inline-block;
    width: 50px;
}

.arrow-scroll-indicator {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.60);
}

.parallax-window {
    background: transparent;
}


/* form */

body{margin-top:20px;
    margin-top: 20px;
    font-family: 'Lato', sans-serif !important;}

.cover-background {
    position: relative !important;
    background-size: cover !important;
    overflow: hidden !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.p-0 {
    padding: 0!important;
}
section {
    padding: 120px 0;
    overflow: hidden;
    background: #fff;
}

.error-page {
    background-color: #BABABA4A;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(234,234,235,0.2);
    padding: 80px 20px;
}
.text-center {
    text-align: center!important;
}
.error-page h1 {
    font-size: 50px;
    line-height: 1;
    font-weight: 600;
}
.text-secondary {
    color: #15395A !important;
}
.mb-4 {
    margin-bottom: 1.5rem!important;
}

.textLogged{
    color: #ffffff;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(38,17,10,0.39);
}

.color{
    color: #0dcaf0 !important;
}

/* footer */

footer, .footer{
    background-color: #f5eefc !important;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  /* main */
  .type-article{
    text-align: justify;
  }

  a{
    text-decoration: none !important;
  }

  .hover:hover{
    color: #0dcaf0 !important;
  }
